body {
  background-color: rgb(255 255 255);
  font-family: serif;
  font-weight: 390;
  font-size: 1.1rem;
  letter-spacing: 0.05em;
}

* {box-sizing:border-box}
img {vertical-align: middle;}
.LeCarrousel {
  max-width: 1100px;
  position: relative;
  margin: auto;
}

.entête {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-left: 10px;
  margin-right: 20px;
}

.entête-droite {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.AngeleLogo img {
  display: inline-block;
  vertical-align: top;
  height: 2.2rem;
}

.AngeleLogo-info {
  display: inline-block;
}

.AngeleLogo-nom {
  font-weight: 500;
  line-height: 0.7;
  font-size: 1.8rem;
}

.AngeleLogo-titre {
  color: #d36820;
  font-size: 0.9rem;
}

.TraitVerticale {
  display: none;
  margin-right: 1rem;
  width: 1.2px;
  height: 1.9rem;
  background-color: black;
}

.Icones {
  display: none;
}

.Icones a {
  color: #000;
  text-decoration: none;
  margin: 0.8rem;
}

.Menu {
  margin-left: 1.8rem;
}

.Menu > img {
  height: 22px;
  width: 22px;
}

.Précédent, .Suivant {
  cursor: grab;
  position: absolute;
  color: white;
  width: auto;
  font-weight: lighter;
  top: 50%;
  margin-top: -22px;
  padding: 20px;
  font-size: 20px;
  user-select: none;
}

.Précédent {
  left: 0;
}
.Suivant {
  right: 0;
}

.Bouton {
  display: flex;
  align-items: center;
  justify-content: center;
} 

@media (min-width: 768px) {
 
  .Icones {
    display: inherit;
  }

  #BasDePage {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .center {
    flex-direction: row !important;
  }
  #PochetteBrol {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    height: auto;
    width: 500px;
  }

  #first-center-image {
    margin-right: 3rem;
  }

  .inside-image-wrapper > img {
    padding: 0 5px;
  }

  .inside2-image-wrapper > img {
    padding: 0 5px;
  }
  
  .inside3-image-wrapper > img {
    padding: 0 5px;
  }

  .Icones {
    display: inherit;
  }

  .TraitVerticale {
    display: inherit;
  }

  .inside {
    flex-direction: row !important;
  }
  .inside2 {
    flex-direction: row !important;
  }
  .inside3 {
    flex-direction: row !important;
  }

  .frame2{
    display: none;
  }
}

@media (max-width: 750px) {
  .frame{
    display: none;
  }
}

@media (min-width: 1200px) {

  #BasDePage {
    grid-template-columns: 1fr 1fr 1fr 1fr !important;
    grid-template-rows: 1fr !important;
  }
  .NVTecrit{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-align: center;
   }
}

@media (max-width: 1200px) {

  .entête-droite p{
    display: none;
  }

  .center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .inside {
    text-align: center;
  }
  .inside2{
    text-align: center;
  }
  .inside3{
    text-align: center;
  }

  .NVDroite{
    display: none;
  }
  
}

.container {
  background-color: grey;
  height: 500px;
  margin-top: 30px;
  margin-left: 30px;
  margin-right: 30px;
  font-size: 100px;
  text-align: center;
  padding-top: 50px;
}

.AngeleLogo2-info {
  display: inline-block;
}

.AngeleLogo2-nom {
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 0.7;
  margin-top: 5px;
}

.AngeleLogo2-titre {
  color: #999;
  font-size: 0.8rem;
}

.TraitHorizontale {
  margin-right: 30px;
  margin-left: 30px;
  margin-top: 55px;
  height: 1px;
  background-color: #666;
}

.Case3 ul {
  list-style: none;
  color: #000;
}

.Case3 a {
  text-decoration: none;
}

#BasDePage {
  background-color: white;
  height: 200px;
  margin-top: 10px;
  margin-left: 30px;
  margin-right: 30px;
  border: #666;
  border-width: 1px;
  line-height: 1.71;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.Case1 > img {
  display: inline-block;
  vertical-align: top;
  margin-right: 0.65rem;
  height: 2.356rem;
}

#BasDePage div > ul {
  padding: 0;
  margin: 0;
}

#BasDePage > div {
  margin-top: 2rem;
}

.Icones-BasDePage a:first-child {
  margin-left: 0;
}

.Icones-BasDePage a {
  margin: 20;
  color: #000;
  text-decoration: none;
  margin-left: 2rem;
}

.center {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 30px;
}

.center p {
text-align: justify;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.inside {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  margin: 0 25px;
}

.inside2 {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  margin: 0 25px;
  margin-top: 50px;
  
}

.inside3 {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  margin: 0 25px;
  margin-top: 50px;
  
}



.center-image-wrapper {
  max-width: 400px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.inside-image-wrapper > img {
  max-width: 100%;
  height: auto;
}

.Ecriture{
  font-weight: 600;
  font-size: 27px;
  line-height: 1.166;
  color: #000;
  letter-spacing: 0;
  margin-top: 35px;
  margin-bottom: -20px;
  margin-left: 25px;
}

.Ecriture1{
  font-weight: 600;
  font-size: 17px;
  line-height: 1.166;
  color: #000;
  letter-spacing: 0;
  margin-top: 0px;
  margin-bottom: 30px;
  font-family: Comic Sans MS;
}

.container-bottom-icone {
  text-align: center;
  margin-top: 50px;
}
.container-bottom-icone a:first-child {
  margin-left: 0;
}

.container-bottom-icone a {
  margin: 20;
  color: #000;
  text-decoration: none;
  margin-left: 2rem;
}

#Angele1{
width: 250px;
height: auto;
}

#Angele2{
  width: 250px;
  height: auto;}

#Angele3{
  width: 250px;
  height: auto;}

.BROL{
  color:#ff0000;
  font-weight: bold;
  font-size: 20px;
  text-decoration: underline;
}

.NVDroite li{
  float:left;   
  margin: 100px; 
  list-style: none; 
}

.NVDroite a{
  text-decoration: none;
  color: #000;
 }

 #Ecriture {
   text-align: center;
   margin-left: 10px;
   margin-top: -5px;
   margin-bottom: -20px;
   font-size: 27px;
 }

 .container-middle{
   text-align: center;
 }

.container-middle-bottom{
  text-align: center;
}